body{
    /* font-size: ; */
    scroll-behavior: smooth;
    overflow-x: hidden;
    --bgcol: black;
    --txtcol: white;
    --col1: #01b0f1;
    --col2: green;
    --col3: red;
    background-color: var(--bgcol);
    background: url('../images/bg.png');
    color: var(--txtcol);
}

.welcome1, .welcome2{
    margin: 10px;
}

.welcome2{
    position: absolute;
    right: 10px;
}


.mainbody{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid var(--txtcol3); */
    height: 70%;
}

/* .mainbody > *{
    border: 2px solid var(--txtcol3);
} */

.icon{
    
    margin: 0px;
    padding: 0px;
}
.icon img{
    width: 400px;
    margin: 0px;
    padding: 40px;
    /* border: 2px dashed var(--txtcol); */
    border-radius: 100px;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

#file{
    padding: 10px;
}

.inputgrp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    width: 100%;
}
.inputgrp input{
    font-size: 15px;
    background-color: transparent;
}

.inputgrp input img{
    width: ;
}

form .check{
    margin-bottom: 20px;
}

.inputgrp #name{
    border-radius: 5px;
    border: 1.5px solid var(--txtcol);
    color: var(--txtcol);
    padding-left: 7px;
}
.inputgrp #name:hover{
    border-color: var(--col1);
    transition: all;
    transition-duration: 0.6s;
}




.inputgrp input{
    height: 27px;
    width: 200px;
}



.inputgrp .submit{
    width: 100px;
    height: 37px;
    background-color: transparent;
    color: var(--col1);
    border: 2.5px solid var(--col1);
    border-radius: 100px;
    cursor: pointer;
    font-size: 15px;
}

.inputgrp .reset{
    width: 100px;
    height: 37px;
    background-color: transparent;
    color: var(--col1);
    border: 2.5px solid var(--col1);
    border-radius: 100px;
    cursor: pointer;
    font-size: 15px;
}

.inputgrp .submit:hover{
    border-color: var(--col2);
    background-color: transparent;
    color: var(--col2);
    transition: all;
    transition-duration: 0.6s;
}

.inputgrp .reset:hover{
    border-color: var(--col3);
    background-color: transparent;
    color: var(--col3);
    transition: all;
    transition-duration: 0.6s;
}


